/* * {
  outline: 1px solid red;
} */

#nav-bar {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.navbar {
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 110px;
}

.navbtn {
  width: 25px;
}
.nav-cart-btn svg:hover,
.nav-user-btn svg:hover {
  fill: #3c2e26;
}

.nav-cart-btn svg {
  fill: #555;
  transition: 0.2s;
}

.nav-user-btn {
  width: 23px;
}
.nav-user-btn svg {
  fill: #555;
  transition: 0.2s;
}
#search-box {
  cursor: pointer;
  position: relative;
}

.search-bar {
  position: relative;
  width: 220px;
  height: 40px;
  background-color: #fff;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #eee;
  border-right: none;
  margin: 0;
}

.search-btn {
  position: absolute;
  width: 50px;
  height: 40px;
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #eee;
  border-left: none;
  margin: 0;
  right: 0;
  text-align: center;
}

.search-bar:focus,
.search-btn:focus {
  outline: none;
}

svg#search-btn {
  width: 25px;
  /* color: #ccc; */
  fill: #999;
  /* padding: 0px 10px; */
}
/* svg#search-btn:hover {
  fill: #ffa12c;
} */

.search-hover {
  border: 5px solid #eee;
  fill: #ffa12c;
}

.login-text {
}

.logo-search {
  position: relative;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-m {
  display: none;
}
.only-m {
  display: none;
}

/* --------------------------------------- */
@media (max-width: 991.98px) {
  .nav-pc {
    display: none;
  }
  .only-pc {
    display: none;
  }

  .nav-m {
    display: block;
  }
  .only-m {
    display: block;
  }

  .search-input-m {
    display: none;
  }

  .navbar-toggler {
    border: 0px;
  }
  .ham-box {
    width: 30px;
    height: 30px;
  }
  .ham-line {
    width: 30px;
    height: 3px;
    background-color: #3c2e26;
  }
  .ham-line1 {
    margin-bottom: 8px;
    border-radius: 5px;
  }

  .logo-search {
    /* position: none; */
    /* position: absolute;
    left: 25%; */
    /* transform: translateX(-50%); */
  }

  .navbar-toggler-icon {
    height: 3 px;
    color: #3c2e26;
  }
}
