.scroll-top{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 2px 20px rgba(0,0,0,.1);
    position: fixed;
    right: 100px;
    bottom: 100px;
    line-height: 6vh;
    text-align: center;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
    z-index: 20;
}
.scroll-top img{
    width: 3vh;
    object-fit: contain;
}
@media(max-width: 425px) {
    .scroll-top{
    width: 44px;
    height: 44px;
    line-height: 40px;
    right: 15px;
    bottom: 20px;
    }
}