* {
  outline: auto;
}

span {
  position: relative;
  padding: 0 1% 0 0;
}

.des-card figure img {
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
}

span :before {
  content: "";
  display: block;
  background-color: #ffecd4;
  width: 95%;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: -1;
  margin-left: 5px;
}

@media (max-width: 450px) {
  * {
    overflow-x: hidden;
  }

  body {
    background-color: #ffffff;
  }

  #hero-polaroid,
  .tour-cards,
  #depth,
  #quiz {
    display: none;
  }

  /* 拍立得部分始 */
  .weirdpart {
    margin-top: 64px;
    background-color: #f2eee8;
  }

  .rope figure {
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .rope figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .por-pic-m {
    margin: -55px 0 0 -60px;
  }

  .polaroid-base {
    background-color: #fff;
    transform: rotate(-2deg);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .por-frame-2 {
    height: 207px;
    margin-top: -7px;
  }

  .por-frame-1 {
    height: 160px;
    transform: rotate(-5deg);
    margin-top: -10px;
  }

  .por-frame-3 {
    height: 165px;
    transform: rotate(5deg);
    margin-top: -20px;
  }

  .polaroid-base figure {
    width: 85%;
    height: 65%;
  }

  .polaroid-base figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sig-m-1 {
    width: 55%;
    height: 25%;
    right: 5px;
    bottom: -5px;
    z-index: 5;
    transform: rotate(10deg);
  }

  .sig-m-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* 拍立得部分末 */

  /* RWD後改變順序始 */
  .change-order-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  #petliday-wrap {
    flex: 100%;
    order: 2;
    background: url(img/bg-2-m.png) no-repeat;
    background-size: 100%;
  }

  #destination {
    flex: 100%;
    order: 1;
    padding-bottom: 24px;
    background: url(img/bg-1-m.png) no-repeat;
    background-size: 100%;
  }

  .row:not(.por-pic-m):not(.pet-slogan):not(.rope) {
    margin: 0;
  }

  /* RWD後改變順序末 */

  /* 同樂目的地始 */

  .des-wrap {
    padding-right: 0px;
  }

  .des-title {
    font-size: 16px;
  }

  .des-card figure {
    width: 143px;
    height: 109px;
  }

  #destination svg {
    fill: #49322d;
    width: 18px;
    height: 15px;
  }

  .des-row {
    overflow-x: scroll;
    justify-content: start;
  }

  .des-card {
    flex-shrink: 0;
    margin: 1rem 20px 0 0;
    position: relative;
  }

  .des-card h6 {
    position: absolute;
    font-size: 14px;
    color: #ffffff;
    bottom: 20px;
  }

  .des-card::after {
    position: absolute;
    content: "134個行程體驗";
    bottom: 5px;
    left: 0px;
    color: #ffffff;
    font-size: 12px;
  }

  /* 同樂目的地末 */

  /* 插圖介紹部分始 */
  .logo-sentence img {
    width: 100%;
    height: 100%;
  }

  .petliday-card {
    display: flex;
    /* flex-direction: column; */
  }

  .petliday-fig {
    width: 70px;
    height: 90px;
    border-radius: 3%;
    /* margin: 30px auto; */
  }

  .petliday-fig img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .pet-slogan {
    margin: 40px 0;
  }

  .petliday-card p:first-child {
    font-size: 16px;
  }

  .petliday-card p:last-child {
    font-size: 14px;
  }
  /* 插圖介紹部分末 */

  /* 精選行程部分始 */
  #tour svg {
    fill: #49322d;
    width: 18px;
    height: 15px;
  }
  /* 精選行程部分末 */

  /* 體驗課程部分始 */
  #class .container:first-child {
    margin: 25px auto;
  }

  #class .container:last-child {
    padding-right: 0px;
  }

  .arrow {
    display: none;
  }

  #class svg {
    fill: #49322d;
    width: 18px;
    height: 15px;
  }

  #class .row:last-child {
    overflow-x: scroll;
    padding-right: 0;
  }

  .card {
    width: 266px;
    height: 300px;
    border: none;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    flex-shrink: 0;
    margin: 0 20px 0 0;
  }

  .card-pic {
    width: 100%;
    height: 175px;
    border-radius: 3px 3px 40px 3px;
    overflow: hidden;
  }

  .c4 .heart {
    top: 10px;
    right: 10px;
  }

  .cls-5 {
    fill: #e03d2d;
  }

  .arrow {
    opacity: 0;
    position: absolute;
  }
}

/* 超明顯換media就在這裡啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊/
  超明顯換media就在這裡啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊/
  超明顯換media就在這裡啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊/
  超明顯換media就在這裡啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊/
  超明顯換media就在這裡啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊/
  超明顯換media就在這裡啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊/
  超明顯換media就在這裡啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊/
  超明顯換media就在這裡啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊/
  超明顯換media就在這裡啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊/*/

@media (min-width: 1200px) {
  /* 拍立得section始 */
  #hero-polaroid {
    background-color: #f2eee8;
    padding-top: 4vh;
    height: 130vh;
  }

  .weirdpart {
    display: none;
  }

  .polaroid-base {
    margin: 10vh auto;
    width: 90vw;
    height: 100vh;
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
  }

  .polaroid-figure {
    margin: 3% auto;
    width: 90vw;
    height: 75vh;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 15px 0px inset;
    background: url("./img/banner-img1.jpg") no-repeat;
    background-size: cover;
  }

  .signature {
    height: 150px;
    display: inline-block;
    bottom: 20px;
    right: 40px;
  }

  .signature img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  /* 拍立得section末 */

  /* 放背景section始 */
  #bg1 {
    background: url("./img/bg-1.png") no-repeat;
    background-size: cover;
    z-index: -2;
  }
  /* 放背景section末 */

  /* 插圖介紹section始 */
  #petliday-wrap .row:last-of-type {
    margin: 45px 0;
  }

  .petliday-fig {
    margin: auto;
    width: 95px;
    height: 95px;
  }

  .petliday-fig img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .petliday-title {
    font-size: 16px;
    font-weight: 400;
  }

  .petliday-content {
    font-size: 14px;
    font-weight: 400;
  }

  .des-title {
    color: #3c2e26;
  }

  #destination .container {
    margin-bottom: 16px;
  }

  #destination svg {
    fill: #49322d;
    width: 23px;
    height: 19px;
  }

  .des-row {
    display: flex;
    justify-content: center;
  }

  .des-card {
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .des-card h6 {
    margin: 10% auto;
  }

  .des-card figure {
    width: 250px;
    height: 160px;
    border-radius: 3%;
    /* margin: 30px auto; */
  }

  /* 同樂目的地末 */

  /* 精選行程始 */
  #tour svg {
    fill: #49322d;
    width: 23px;
    height: 19px;
  }

  .tour-card figure {
    width: 300px;
    height: 300px;
    clip-path: circle(50% at 50% 50%);
    margin: 8px auto;
    background-color: #3c2e26;
  }

  .tour-card h6 {
    margin: 8px auto;
    text-align: center;
  }

  .cls-3 {
    fill: #00907c;
  }

  hr {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
  }

  /* 體驗課程部份始 */
  #class .container:first-child {
    margin: 45px auto;
  }

  #class svg {
    fill: #49322d;
    width: 23px;
    height: 19px;
  }

  .cls-5 {
    fill: #e03d2d;
  }

  .card {
    width: 296px;
    height: 295px;
    border: none;
    box-shadow: 1px 2px 8px rgba(200, 200, 200, 0.5);
    position: relative;
    transition: 0.5s;
    margin: 15px;
  }

  .card .p {
    margin-bottom: 6px;
  }

  .heart {
    width: 35px;
    height: 35px;
    background-color: #fff;
    opacity: 0.8;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    padding: 6px 8.5px;
  }

  .card-pic {
    width: 100%;
    height: 175px;
    border-radius: 3px 3px 50px 3px;
    overflow: hidden;
    transition: 0.5s;
  }

  #depth svg {
    fill: #49322d;
    width: 23px;
    height: 19px;
  }

  .chatpic-wrap {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .chatpic-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .text-wrap {
    top: calc(50% - 100px);
    left: 80px;
    width: 80%;
  }

  .text-wrap2 {
    top: calc(50% - 80px);
    right: 80px;
    width: 80%;
  }

  .text-wrap h6 {
    line-height: 1.5;
  }

  #quiz svg {
    fill: #49322d;
    width: 23px;
    height: 19px;
  }

  .opt {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
  }

  #quiz figure {
    margin: 0 auto;
  }

  #quiz .box {
    width: 476px;
    height: 191px;
    box-shadow: 1px 2px 8px rgba(200, 200, 200, 0.5);
    margin: 0 auto;
    border-radius: 3px;
    display: block;
  }

  #quiz .box h6 {
    text-align: center;
  }

  .option {
    text-align: center;
    line-height: 1.5;
    margin: 8px 0;
  }

  .tutor img {
    width: 100%;
  }
}
