* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2eee8;
  overflow-x: hidden;
}
.cart-title {
  margin-top: 10%;
}

.prod-box {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 3px 30px 3px 3px;
  padding: 20px;
  margin-bottom: 15px;
}

.prod-img {
  width: 140px;
  /* min-width: 64px; */
  height: 140px;
  /* min-height: 64px; */
}
.prod-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  border: 1px solid #eee;
}

.prod-text {
  max-width: 400px;
  min-width: 200px;
}

.prod-text h5 {
  line-height: 25px;
}

.all-box {
  padding: 10px 0;
}
.change-date {
  margin-bottom: 0;
  display: inline-block;
}

.change-btn {
  width: 50;
  height: 50px;
  padding: 10px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-icon {
  width: 30px;
  height: 30px;
  fill: #555;
  background-color: #ccc;
  border-radius: 3px;
  padding: 8px;
}

.sub-icon {
  width: 30px;
  height: 30px;
  fill: #555;
  background-color: #ccc;
  border-radius: 3px;
  padding: 8px;
}
.add-icon1 {
  width: 30px;
  height: 30px;
  fill: #555;
  background-color: #ccc;
  border-radius: 3px;
  padding: 8px;
}

.sub-icon1 {
  width: 30px;
  height: 30px;
  fill: #555;
  background-color: #ccc;
  border-radius: 3px;
  padding: 8px;
}

.able-icon {
  background-color: #ccc;
  fill: #555;
}
.add-icon:hover,
.add-icon1:hover,
.able-icon:hover {
  background-color: rgb(171, 171, 171);
}

.unable-icon {
  background-color: #eee;
  fill: #ccc;
}
.unable-icon:hover {
  background-color: #eee;
}

.change-quantity {
  width: 60px;
  height: 44px;
  border: 1px solid #eee;
  text-align: center;
  line-height: 44px;
  border-radius: 3px;
  font-size: 14px;
}

.change-date {
  cursor: pointer;
  transition: 0.2s;
}

.total-box {
  background-color: rgb(255, 255, 255);
  border-radius: 3px 3px 3px 3px;
  /* padding: 20px; */
  margin-top: 20px;
}
.btn-1 {
  min-height: 44px;
}
.prod-price {
  padding: 0;
  margin-left: auto;
}
.del-icon {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 50px;
  height: 50px;
  padding: 18px;
  cursor: pointer;
}
svg#del-icon {
  fill: #ccc;
}
svg#del-icon:hover {
  fill: #999;
}
.del-icon {
  fill: #666;
}

svg#arrow-right {
  width: 5px;
  fill: #00907c;
  position: relative;

  margin-left: 2px;
}
svg#date-icon {
  position: relative;
  top: -1.5px;
  width: 18px;
  fill: #00907c;
  margin-right: 10px;
}
.change-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  /* margin-left: 0; */
  padding-left: 0;
}
.prod-item-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.btn-2 {
  padding: 0 30px;
}

/* .step-box { */
/* border-bottom: 3px solid #fff; */
/* } */
.step {
  width: 33.3%;
  height: 100%;
  border-bottom: 3px solid #fff;
  text-align: center;
}

.step-title {
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 14px;
}
#food-icon {
  width: 30px;
  padding: 7px;
  fill: #999;
  position: relative;
  top: -1px;
}
.step-title.active {
  color: #fe8b11;
}
.step-active {
  border-bottom: 3px solid #fe8b11;
}

.step:focus {
  border-bottom: 3px solid #fe8b11;
}

#food-icon.active {
  fill: #fe8b11;
}
.all-step-box {
  /* height: 400px; */
  padding: 30px;
}
.container-mt {
  margin-top: 50px;
}
.form-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
}
.form-box-title {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px 3px 0px 0px;
  /* line-height: 0; */
}
.form-box-fin {
  background-color: #fff;
  padding: 20px;
  padding-top: 30px;
  border-radius: 3px 30px 3px 3px;
}
.order-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 15px;
  border-bottom: 2px solid #eee;
}
/* h5.text-color .t-m .mt-1 .title-box-item {
  line-height: 18px;
} */
.order-box-fin {
  background-color: #fff;
  padding: 10px 20px 0px 20px;
  border-radius: 3px;
  /* margin-bottom: 15px; */
}
.order-box-total {
  border-radius: 3px 3px 30px 3px;
}

.form-title {
  margin-top: 10px;
}
.detail-box {
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.detail-box-fin {
  padding: 20px 0px 0px 0px;
  /* border-top: 1px solid #eee; */
  /* border-bottom: 1px solid #eee; */
}

.detail-box-total {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.detail-all {
  /* padding: 0px 30px 0px 0px; */
  /* padding-left: 20px;
  padding-right: 20px; */
  /* margin-left: 20px;
  margin-right: 20px; */
}
.detail-all h6 {
  margin-bottom: 0;
  margin: 3px;
}
.single-prod-total {
  padding-top: 10px;
}
.prod-price-single {
  font-weight: 500;
}

.all-form-box {
  order: 1;
}
.all-order-box {
  order: 2;
}

.contacts-box {
  border-bottom: 1px solid #eee;
}
.one-form {
  margin: 10px 0;
  padding-right: 30px;
  padding-left: 30px;
}

.label-all {
  margin-bottom: 5px;
}
.form-input {
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  cursor: pointer;
}
.form-input:focus {
  outline: none;
  border: 1px solid #ffd096;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}

.form-input.active {
  border: 1px solid #ffa12c;
}
::placeholder {
  color: #ccc;
  font-size: 16px;
  opacity: 1; /* Firefox */
}
/* ----------自治radio-------------------------- */
/* .form-radio:checked ~ .form-radio-label { */

.custom-control-label {
  left: 25px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
}
.custom-control-input:checked ~ .custom-control-label::before {
}

.custom-control-input ~ .custom-control-label::before {
  background-color: #fff;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  padding-bottom: -5px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  outline: none;
  box-shadow: none;
  color: #00907c;
  background-color: #ffa12c;
  border-color: #ffa12c;
  cursor: pointer;
}
.custom-control-label::before {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border-color: #ccc;
}

.custom-control-input {
  background-color: #fff;
  border-color: #ccc;
}
.fast-main {
  cursor: pointer;
}

.custom-control-input:hover ~ .custom-control-label::before {
  background-color: #f29018;
  border-color: #ffa12c;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.custom-control-input:active ~ .custom-control-label::before:active {
  background-color: #ffa332;
  cursor: pointer;
}
.custom-control-input:focus ~ .custom-control-label::before {
  background-color: #ffa12c;
  border-color: #ffa12c;
  cursor: pointer;
  /* box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.2); */
}
.radio-text {
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  /* height: 44px; */
  /* line-height: 44px; */
  /* color: #000; */
}
.custom-control-label::before {
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.custom-control-label::before:focus {
  border-color: #ffa12c;
}

/* .form-radio {
  width: 18px; 
  height: 44px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #00907c;
} */
.coupon-input {
  margin: 10px;
}
.coupon {
  border: 1px solid #ffa02c9a;
  position: relative;
  border-radius: 3px 30px 3px 3px;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.coupon:hover {
  border: 1px solid #ffa02c;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.coupon .custom-control-label {
  cursor: pointer;
}
.coupon .custom-control-label::before {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 230px;
  border-color: #ccc;
}
.coupon .custom-control-input {
  background-color: #fff;
  border-color: #ccc;
}
.coupon .custom-control-input:focus ~ .custom-control-label::before {
  background-color: #ffa12c;
  border-color: #ffa12c;
}

/* input[type="radio"]:checked {
  background-color: #00907c;
} */
.form-error {
  border: 1px solid #e03d2d;
}
.pay-btn-box {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.pay-btn {
  margin: 0;
  padding: 0 30px;
  line-height: 44px;
  /* text-align: center; */
}
u {
  cursor: pointer;
}

.form-input-btn {
  height: 44px;
}
.credit-card-box {
  /* position: relative; */
  height: 180px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.credit-card-img {
  object-fit: contain;
  width: 100%;

  /* overflow: hidden; */
}
.card1.is-flipped {
  transform: rotateY(180deg);
}
.card1 {
  width: 300px;
  height: 180px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 40px 15px -30px rgba(0, 0, 0, 0.2);
}
.credit-card {
  position: absolute;
  width: 300px;
  height: 180px;
  border-radius: 15px;
  cursor: pointer;
  background: #fff;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  backface-visibility: hidden;
  /* opacity: 0.3; */
}
.card-back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.card-text-box {
  position: absolute;
  bottom: 6%;
  left: 6%;
  backface-visibility: hidden;
}
.card-text {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}
.card-number {
  position: relative;
  top: 5px;
  font-size: 18px;
}
.card-name-t {
  color: #eee;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  top: 6px;
}
.card-date {
  font-size: 14px;
  position: absolute;
  right: 0px;
  bottom: 10%;
}
.card-date-font {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
.card-cvc {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  position: absolute;
  right: 6%;
  top: 45%;
}
.cute-iocn {
  width: 180px;
  height: 180px;
  /* border-radius: 100%; */
  background: url(./imgs/3x/finish.png) center center no-repeat;
  background-size: contain;
}
.order-time {
  display: flex;
  justify-content: flex-end;
}
.order-title {
  display: flex;
  justify-content: flex-start;
}
.single-detail-box {
  padding: 20px 10px;
}
.single-detail {
  background-color: rgba(238, 238, 238, 0.5);
  /* height: 400px; */
  border-radius: 3px;
  padding: 20px;
}
.btn-more {
  height: 44px;

  padding: 10px 20px;
  margin: 20px 10px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ffa12c;
  color: #ffa12c;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.3s;
}
.btn-more-review {
  height: 44px;
  padding: 10px 20px;
  margin: 20px 10px;
  border-radius: 3px;
  border: 1px solid #ffa12c;
  background-color: #ffa12c;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.3s;
}
.btn-more:hover {
  background-color: #ffa12c;
  color: #fff;
}
.btn-more:focus {
  outline: none;
}
.bone-icon {
  width: 30px;

  margin: 10px;
}
.bone-iocn img {
  /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); */
  width: 100%;
  /* width: 30px;
  height: 30px; */
  object-fit: cover;
}
/* .bone-iocn .cls-1222:hover {
  fill: #ffa12c;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
} */
.form-input-review {
  min-width: 250px;
  width: 400px;
  border: 1px solid #ffd096;
}
.another-bg {
  background-color: #ffefdcad;
}
.a-style {
  text-decoration: none;
}
.a-style:hover {
  text-decoration: none;
}
.cls-1222.bone-color {
  fill: #ffa12c;
}

.option-style {
  font-size: 14px;
}
input:optional {
  font-size: 16px;
}

.coupon-items {
  /* display: none; */
  /* transition: 0.3s; */
  /* animation: 0.3s forwards; */
  overflow: hidden;
  /* height: 100%; */
}
.creditCard-box {
  display: none;
  /* display: block; */
}
.animation {
  transition: height 0.3s;
}

.can-display {
  display: block;
}
.unable {
  /* display: none; */
  height: 0;
  transition: 2s;
}
.card-icon-items {
  /* width: 30px; */
  height: 30px;
  overflow: hidden;
  /* width: 30px; */
}
.card-icon-items-box {
  line-height: 0;
  height: 30px;
}
.card-icon-items img {
  height: 100%;
  object-fit: cover;
}
.m-chanhe-box-quant {
  margin: 0 10px;
}
.fast-btn {
  cursor: pointer;
  /* width: 50px;
  height: 50px;
  background-color: red; */
}

.pay-all {
  /* overflow: hidden;
  height: 0; */
  transition: 0.3s;
  display: none;
}
/* .pay-all.display {
  /* overflow: hidden; */

/* height: 100%;
} */

#order-box-total.fixed {
  width: 350px;
  position: relative;
  /* position: absolute; */
  position: fixed;
  top: 80px;
  /* transition: 0.3s; */
}

.justinfo {
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}
.fast-btn {
  cursor: pointer;
}
#autoUpdate:checked {
  grid-column: red;
}
.confirm-btn {
  line-height: 44px;
}
/* .select-box {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
} */

/* x */
/* select#mainGender {
  display: none;
} */

select.customDropdown {
  font: 400 12px;
  pointer-events: none;
  outline: none;
  overflow: hidden;
  text-indent: 0.01px;
  text-overflow: "";

  background: url("https://img.icons8.com/material/24/000000/sort-down.png")
    no-repeat right #fff;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.customDropdown::after {
  background-image: linear-gradient(45deg, transparent 50%, red 60%),
    linear-gradient(135deg, red 40%, transparent 50%) !important;
  background-position: calc(100% - 30px) 14px, calc(100% - 20px) 14px, 100% 0;
  background-size: 10px 10px, 10px 10px;

  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.itemTitle {
  display: inline-block;
}
.paw-icon {
  /* width: 20px;
  height: 20px; */
  /* padding: 5px; */
}
svg.pawIcon {
  width: 20px;
  /* height: 20px; */
  /* object-fit: fill; */
}
.padd {
  padding-left: 20px;
  padding-right: 20px;
}
/* .orderradio-btn {
  display: none;
}
.all-bone-box {
  unicode-bidi: bidi-override;
  /* unicode-bidi:bidi-override 自動輸寫順序 */
/* direction: rtl; */
/* 單個數字、字母瀏覽器不能判斷語言就用rtl預設設定 */
/* } */

/* .all-bone-box > label {
  /* float: right; */
/* display: inline; */
/* align-self: start; */
/* margin: 1px; */
/* position: relative; */
/* width: 1.8em; */
/* cursor: pointer; */
/* } */
/* 
.all-bone-box > label:hover,
.all-bone-box > label:hover ~ label,
.all-bone-box > input.orderradio-btn:checked ~ label {
  color: transparent;
}

.all-bone-box > label:hover:before,
.all-bone-box > label:hover ~ label:before,
.all-bone-box > input.orderradio-btn:checked ~ label:before,
.all-bone-box > input.orderradio-btn:checked ~ label:before {
  display: block;
  content: "";
  fill: red;
  background-size: 28px;

  /* position: absolute; */

.index-rating .rating-title img {
  width: 28px;
  height: 28px;
  color: #fff;
  padding-top: 2px;
}

/* 內層：如何讓骨頭被填色*/
.rating-info {
  width: 200px;
  /* height: 30px;
  /* background-color: #eeeeee; */
  /* border-radius: 3px 0px 0px 8px; */
  /* border-top: 10px solid #1c9e8bab; */
  /* box-shadow: 1px 0px 3px black; */
  /* position: fixed;
  bottom: 25vh; */
}
.hide {
  display: none;
}

/* .clear {
  float: none;
  clear: both;
} */

.rating-bone {
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  position: relative;
  unicode-bidi: bidi-override;
  /* unicode-bidi:bidi-override 自動輸寫順序 */
  direction: rtl;
  margin-bottom: 10px;
  /* 單個數字、字母瀏覽器不能判斷語言就用rtl預設設定 */
  /* width: 30px; */
  /* padding: 30px; */
}
.radio-icon {
  width: 44px;
  height: 44px;
  padding-left: 25px;
  padding-right: 25px;
  /* margin: 40px; */
}

.radio-icon img {
  width: 44px;
  height: 44px;

  object-fit: contain;
}
.rating-bone > label {
  float: right;
  display: inline;
  align-self: start;
  margin: 1px;
  position: relative;
  width: 1.8em;

  cursor: pointer;
}

.rating-bone > label:hover,
.rating-bone > label:hover ~ label,
.rating-bone > input.radio-btn:checked ~ label {
  color: transparent;
}

.rating-bone > label:hover:before,
.rating-bone > label:hover ~ label:before,
.rating-bone > input.radio-btn:checked ~ label:before,
.rating-bone > input.radio-btn:checked ~ label:before {
  display: block;
  content: "";
  background: url(./imgs/3x/bone-3.png) center center no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
  /* padding: 30px; */
  position: absolute;
}

input.radio-btn {
  display: none;
}
/* .brightness {
  filter: brightness(0.1);
} */
/* #order-box-total {
  position: relative;
  position: absolute;
  position: fixed;
  top: 65px;
} */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
@media (max-width: 991.98px) {
  .prod-img {
    width: 55px;
    /* max-width: 64px; */

    height: 55px;

    padding: 0px;
  }
  .prod-box {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    position: relative;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
  }
  .change-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .title1-m {
    margin-top: 20px;
  }
  .del-icon {
    top: 0px;
    right: 5px;
    width: 44px;
    height: 44px;
    padding: 15px;
    cursor: pointer;
  }
  .change-date {
    position: absolute;
    top: 53px;
    right: 0px;
    padding: 0;
  }

  .m-chanhe-box-quant {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .prod-text {
    margin-bottom: 15px;
  }
  .prod-price {
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 20px;
  }
  .cart-title {
    margin-top: 100px;
  }
  .step-title {
    font-size: 12px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .container-mt {
    margin-top: 20px;
  }
  .all-step-box {
    padding: 10px;
  }
  .all-form-box {
    order: 2;
  }
  .all-order-box {
    order: 1;
  }

  .order-box-total {
    border-radius: 3px;
    border-bottom: none;
  }

  .all-order-box-in {
    background-color: #fff;
    padding: 30px 0 0 0;
    border-radius: 3px 30px 3px 3px;
  }
  .pay-btn {
    width: 100%;
    /* margin: 0 20px; */
    padding: 0 30px;
  }
  .order-time {
    display: flex;
    justify-content: center;
  }
  .order-title {
    display: flex;
    justify-content: center;
  }
  .change-m {
    display: flex;
    flex-direction: column;
  }
  .all-box {
    padding: 0;
  }
}
