/* * {
  outline: auto;
} */


/* 右半部 */
/* search-bar */
.search-bar-m {
  height: 45px;
  border: 1px solid #707070;
  border-radius: 26px;
  margin: 0 13px;
}

.search-btn-m {
  border-radius: 26px;
  background-color: #00907c;
  line-height: 45px;
  text-align: center;
  color: white;
  font-size: 16px;
}

@media (max-width: 991.98px) {
  .search-bar-m {
    height: 35px;
    border: 1px solid #707070;
    border-radius: 26px;
    margin: 0 13px;
    position: relative;
  }

  .search-btn-m {
    border-radius: 25px;
    background-color: #00907c;
    line-height: 35px;
    text-align: center;
    color: white;
    font-size: 13px;
    max-width: 20%;
    flex: 0 0 20%;
    height: 35px;
    position: absolute;
    right: 0;
  }
}

/* 2 btns */
.btn-2 a {
  flex: 0 0 10%;
  max-width: 10%;
  color: #00907c;
  font-size: 16px;
  text-decoration: underline;
}

.btn-2 {
  margin: 20px 13px 10px 13px;
}

@media (max-width: 991.98px) {
  .btn-2 a {
    flex: 0 0 20%;
    max-width: 20%;
    font-size: 12px;
  }

  .btn-2 {
    margin: 20px 13px 0 13px;
  }
}
/* 手風琴 */
.collapsible {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin: 10px auto 0 auto;
  position: relative;
  background-color: #fff;
}

/* .active, */
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 35px 18px 0;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 90%;
  margin: -25px auto 0 auto;
  border-radius: 3px 3px 30px 3px;
  box-shadow: 0px 2px 10px rgba(200, 200, 200, 0.5);
}
@media (min-width: 991.99px) {
  i.fa-chevron-down {
    position: absolute;
    top: calc(50% - 10px);
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    right: 20px;
    font-size: 16px;
  }

  .title-wrap span {
    font-size: 14px;
    color: #2e2e2e;
    margin: 10px 88px 0;
  }
}

.active i {
  color: #ffa12c;
}

.active i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.coll-box-title {
  border-radius: 3px 3px 30px 3px;
  box-shadow: 0px 2px 10px rgba(200, 200, 200, 0.5);
  /* background-color: rgb(255, 213, 213); */
}

.title-wrap img {
  width: 30px;
  height: 31.76px;
}

.title-wrap p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 31.75px;
}

input[type="checkbox"] {
  margin: auto;
}

@media (max-width: 991.98px) {
  input[type="checkbox"] {
    margin: 5px auto;
  }

  .collapsible {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    margin: 10px auto 0 auto;
    position: relative;
    background-color: #fff;
  }

  .title-wrap img {
    width: 24px;
    height: 25.4px;
  }

  i.fa-chevron-down {
    position: absolute;
    bottom: 25px;
    font-size: 18px;
    left: 15px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .active i {
    color: #ffa12c;
  }

  .title-wrap span {
    font-size: 12px;
    color: #2e2e2e;
  }

  .title-wrap {
    width: 90%;
    right: 0;
    padding: 0;
    margin-left: 15px;
  }

  .title-wrap p {
    font-size: 14px;
  }
}
