* {
  /* outline: 1px solid red; */
}
.img {
  width: 100%;
  object-fit: cover;
}
body {
  background-color: #f2f2f2;
}
.btn-none {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: transparent;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: transparent;
  border-image: initial;
}
/* -------------------------------------------------- */

/* aside-bar------------------------------------------ */
.aside-bar {
  border-radius: 15px;
  background: #fff;
  padding-bottom: 40px;
  height: 90%;
  position: sticky;
  top: 60px;
  box-shadow: 0px 0px 5px rgba(200, 200, 200, 0.5);
}

.aside-bar h2 {
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: -5px;
}

#acount {
  margin-top: 8vh;
}

.list-section {
  min-height: 300px;
  background-color: #fff;
  border-radius: 3px 30px 3px 3px;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5);
}

.line {
  width: 1rem;
  height: 2rem;
  background: #ffa12c;
  border-radius: 2px 2px 2px 13px;
}
.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0);
}

.list-group-item.active {
  z-index: 2;
  color: #ffa12c;
  background-color: #f2f2f2;
  border: rgba(200, 200, 200, 0.5);
  border-left: 3px solid #ffa12c;
}
@media (max-width: 991.98px) {
  .aside-bar {
    position: relative;
    background-color: #f2f2f2;
    margin-bottom: 50px;
    box-shadow: none;
  }
  .aside-bar h2 {
    padding-top: 0;
    background-color: #f2f2f2;
  }
  .menu-bar {
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list-group-item.active {
    border-left: 3px solid transparent;
    border-bottom: 3px solid #ffa12c;
  }
}

/* ----------------------------------------- */

/* account-home---------------------------- */
.del-icon img {
  height: 100%;
}
button:focus {
  outline: none;
}

#acount {
  width: 100%;
  height: 100%;
  margin-top: 8vh;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
}

.member-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  /* position: absolute; */
  top: 0;
  left: 15%;
}
.member-img img {
  width: 100%;
}

.member-id {
  background-color: #00907c;
  padding: 5px 10px;
  border-radius: 50px;
  position: absolute;
  bottom: 25%;
  right: 30%;
}

.member-id p {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}
.camera-icon {
  border-radius: 50%;
  position: absolute;
  right: 20%;
  top: 48%;
}

#pet-list {
  min-height: 700px;
  background-color: #fff;
  border-radius: 3px 30px 3px 3px;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5);
}

.pet-img {
  width: 200px;
  height: 200px;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0 0 3px #ffa12c;
}
.pet-img img {
  width: 100%;
}

#pet-info {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
}

#pet-info h6 {
  margin-bottom: 20px;
}

#page-icon a {
  width: 28px;
  height: 28px;
}

.pet-card {
  position: relative;
}

.pet-card .edit-round {
  width: 32px;
  padding: 2px;
  position: absolute;
  left: 80%;
  top: 90%;
}

.title-icon {
  transform: rotate(45deg);
  color: #9f5d38;
  margin-right: 20px;
}

.form-title {
  color: #9f5d38;
}

.btn-search {
  color: #fff;
  width: 80px;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  top: 1px;
  right: 18px;
}
@media (max-width: 991.98px) {
  .member-img {
    /* position: absolute; */
    top: 0;
    left: 20%;
  }
  .camera-icon {
    position: absolute;
    right: 80px;
    top: 150px;
  }
  .member-id {
    position: absolute;
    bottom: -250px;
    right: 120px;
  }
  .move-down {
    margin-top: 80%;
  }
  .form-group {
    border-bottom: 1px solid #f2f2f2;
  }
  .pet-card .edit-round {
    left: 75%;
    top: 90%;
  }
  .form-move-down {
    margin-top: 5%;
  }
  .form-title {
    text-align: center;
  }
}
/* ---------------------------- */

/* order-list 我的訂單*/
.icon-search {
  position: absolute;
  left: 28px;
  top: 12px;
  color: #aaa;
}
.search .form-control {
  padding-left: 32px;
}
.fa-search {
  color: #aaa;
}

.search input {
  height: 46px;

  border: 2px solid #f2f2f2;
  border-radius: 50px;
  padding-left: 5px;
}
.search {
  background-color: white;
  position: relative;
}
.search-img {
  max-height: 30px;
  width: 30px;
}
.btn-green {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-indent: 2px;
  color: #fff;
  padding: 8px 12px;
  background-color: #00907c;
  min-height: 44px;
  min-width: 80px;
  transition: 0.2s;
}
.btn-green:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: #00907c;
  box-shadow: inset 5px 5px 10px #008371, inset -5px -5px 10px #008371;
  text-decoration: none;
}

.prod-box {
  border-top: 1px solid #f2f2f2;
  position: relative;
  padding: 20px;
}

.prod-img {
  width: 140px;
  /* min-width: 64px; */
  height: 140px;
  /* min-height: 64px; */
}
.prod-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}
.prod-text {
  max-width: 500px;
  min-width: 200px;
}

.prod-text h5 {
  line-height: 25px;
}

.prod-price {
  padding: 0;
  margin-left: auto;
}

/* avatar-edit page */

.title-icon#paw {
  width: 23px;
  height: 19px;
}

.pet-avatar {
  position: relative;
}
.pet-avatar .camera-icon {
  right: calc(50% - 105px);
  top: 90%;
}
.edit {
  position: absolute;
  right: calc(50% - 100px);
  top: 0;
  width: 200px;
  height: 200px;
}
.edit img {
  width: 100%;
}

.avatar-img {
  width: 200px;
  height: 200px;
}
.avatar-img img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 0 3px #ffa12c;
}
.bar {
  min-height: 90px;
}
.color-bar {
  border: 1px solid#9f5d38;
  border-radius: 20px;
}

.selected-border.active,
.selected-border1.active,
.selected-border2.active {
  border: 2px solid #ffa12c;
  border-radius: 5px;
}
.ball {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.square {
  height: auto;
}
.btn-prev,
.btn-next {
  border-radius: 5px 0 0 5px;
  height: 60px;
  border: 2px solid #ffa12c;
  background-color: #ffa12c;
  outline: none;
}
.fa-caret-left:before {
  color: #fff;
}
.fa-caret-right:before {
  color: #fff;
}
.btn-next {
  border-radius: 0 5px 5px 0;
}

/* -------------- */
/* rwd */
@media (max-width: 991.98px) {
  .ball {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .bow {
    width: 60px;
  }
  .glass {
    width: 66px;
  }
  .neckless {
    width: 75px;
  }
  .bar {
    display: none;
  }
  a {
    color: #6c757d;
    text-decoration: none;
    background-color: transparent;
  }
  .nav-tabs .nav-link.active {
    color: #6c757d;
    background-color: #ffa02c7e;
    border-color: #ffa12c #ffa12c #fff;
    border-radius: 50% 50% 0 0;
  }
  .nav-tabs {
    border-bottom: 1px solid #ffa12c;
  }
}

/* ----------------------------------- */
/* account-profile */
form.is-readonly .btn-save {
  display: none;
}
form.is-readonly input[disabled],
form.is-readonly textarea[disabled] {
  cursor: text;
  background-color: #fff;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
}
form.is-editing .btn-edit {
  display: none;
}
.form-input {
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  cursor: pointer;
}
.form-input:focus {
  outline: none;
  border: 1px solid #ffd096;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}

/* order-detail------------------------ */
.single-detail {
  background-color: #f2f2f2;
  margin-top: 1rem;
  padding: 0.5rem;
}
