* {
  outline: 1px solid red;
}
.img {
  width: 100%;
  object-fit: cover;
}
#acount {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  margin-top: 8vh;
  border-radius: 25px 25px 0 0;
}

#member-list {
  min-height: 300px;
  background-color: #fff;
  border-radius: 3px 30px 3px 3px;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5);
}
.line {
  width: 1rem;
  height: 2rem;
  background: #ffa12c;
  border-radius: 2px 2px 2px 13px;
}

.member-img {
  width: 200px;
  height: 200px;
  overflow: hidden;

  border-radius: 50%;
  background-color: #ccc;
}
.member-img::before {
  content: "";
  background: #ffa12c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#pet-list {
  min-height: 700px;
  background-color: #fff;
  border-radius: 3px 30px 3px 3px;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5);
}

.list-group-item.active {
  z-index: 2;
  color: #ffa12c;
  background-color: #f2f2f2;
  border-left: 3px solid #ffa12c;
}

.pet-img {
  width: 200px;
  height: 200px;
  border-radius: 1.5rem;
  background: #ffa12c;
  overflow: hidden;
}

#page-icon .a {
  width: 10px;
  height: 10px;
}
