* {
  outline: 1px solid red;
}
.img {
  width: 100%;
  object-fit: cover;
}

/* ---------------------- */

.aside-bar {
  position: sticky;
  top: 15px;
}

/* ---------------------- */
#acount {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  margin-top: 8vh;
  border-radius: 25px 25px 0 0;
}

#member-list {
  min-height: 300px;
  background-color: #fff;
  border-radius: 3px 30px 3px 3px;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5);
}
.line {
  width: 1rem;
  height: 2rem;
  background: #ffa12c;
  border-radius: 2px 2px 2px 13px;
}

.member-card {
  position: relative;
}

.member-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  overflow: hidden;

  position: absolute;
  top: 0;
  left: 15%;
}

.member-id {
  background-color: #00907c;
  padding: 5px 10px;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  right: 30%;
}

.member-id p {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}
.camera-icon {
  border-radius: 50%;
  position: absolute;
  right: 22%;
  top: 70%;
}

#pet-list {
  min-height: 700px;
  background-color: #fff;
  border-radius: 3px 30px 3px 3px;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5);
}

.list-group-item.active {
  z-index: 2;
  color: #ffa12c;
  background-color: #f2f2f2;
  border-left: 3px solid #ffa12c;
}

.pet-img {
  width: 200px;
  height: 200px;
  border-radius: 1.5rem;
  border: 3px solid #ffa12c;
  /* box-sizing: content-box; */
  overflow: hidden;
}

#pet-info {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
}

#page-icon a {
  width: 28px;
  height: 28px;
}

.pet-card {
  position: relative;
}

.pet-card .camera-icon {
  border-radius: 50%;
  position: absolute;
  left: 70%;
  top: 90%;
}
