/* * {
  outline: auto;
} */

span {
  position: relative;
  padding: 0 1% 0 0;
}

span::before {
  content: "";
  display: block;
  background-color: #ffecd4;
  width: 95%;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: -1;
  margin-left: 5px;
}

.signature img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 1200px) {
  .timeline-m,
  .swipe-m {
    display: none;
  }

  .footprint {
    margin: 0 auto 20px auto;
  }

  /* 拍立得section始 */
  #hero-polaroid {
    background-color: #f2eee8;
    padding-bottom: 5vh;
  }

  .polaroid-base {
    width: 70vw;
    height: 65vh;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
  }

  .polaroid-figure {
    margin: 3% auto;
    width: 80vw;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px 0px inset;
    background: url("../index/img/banner-img1.jpg") no-repeat;
    background-size: cover;
  }

  .signature {
    height: 115px;
    bottom: 0px;
    right: 20px;
  }

  .pol-wrap {
    width: 70vw;
  }

  #hero-polaroid .row {
    height: 85vh;
  }

  div.box1 {
    /* width: 70vw; */
    height: 65vh;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    transform: rotate(-5deg);
    top: 12vh;
    left: 2vw;
  }
  div.box2 {
    /* width: 70vw; */
    height: 65vh;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    transform: rotate(-6deg);
    top: 12vh;
    left: -2vw;
  }
  div.box3 {
    /* width: 70vw; */
    height: 65vh;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    transform: rotate(4deg);
    top: 12vh;
    left: 3vw;
  }
  /* 拍立得section末 */

  /* 關於毛日的部分始 */
  #text-wrap {
    background-color: #f2eee8;
    padding-bottom: 5vh;
  }

  #text-wrap svg {
    fill: #49322d;
    width: 23px;
    height: 19px;
  }

  #text-wrap p {
    font-style: 14px;
  }
  /* 關於毛日的部分末 */

  /* 毛日里程碑的部分始 */
  #milestone {
    background-color: #f2eee8;
    padding-bottom: 5vh;
  }

  #milestone svg {
    fill: #49322d;
    width: 23px;
    height: 19px;
  }

  #milestone .row {
    padding: 0;
  }

  .timeline {
    margin-top: 7vh;
  }

  .timeline figure {
    padding: 0;
  }

  .timeline img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .detail-wrap > span > p {
    position: relative;
    padding: 0 1% 0 0;
    display: inline-block;
    margin: 0;
    z-index: 1;
  }

  .detail-wrap > span > p::before {
    content: "";
    display: block;
    background-color: #ffd096;
    width: 95%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -1;
    margin-left: 5px;
  }

  .detail-wrap:nth-of-type(1) {
    top: -15px;
    left: 50px;
  }

  .detail-wrap:nth-of-type(2) {
    top: -50px;
    left: 300px;
  }

  .detail-wrap:nth-of-type(3) {
    bottom: 25px;
    left: 200px;
  }

  .detail-wrap:nth-of-type(3) {
    bottom: 25px;
    left: 200px;
  }

  .detail-wrap:nth-of-type(4) {
    bottom: 150px;
    left: 600px;
  }

  .detail-wrap:nth-of-type(5) {
    top: 50px;
    right: 0px;
  }

  /* 毛日里程碑的部分末 */

  /* Petliday是什麼的部分始 */
  #watis {
    background-color: #f2eee8;
    padding-bottom: 5vh;
  }

  #watis svg {
    fill: #49322d;
    width: 23px;
    height: 19px;
  }

  .pro-ppl,
  .safe-place {
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
    color: rgba(51, 51, 51, 0.5);
    vertical-align: middle;
  }

  .pro-ppl p,
  .safe-place p {
    display: inline-block;
    margin: 16px 0;
    font-size: 14px;
    font-weight: 400;
  }
  /* --------------------------------------------------- */

  #watis .box .click {
    height: 5vh;
    box-shadow: 0px -1px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #fccb93;
    color: rgba(51, 51, 51, 0.5);
    vertical-align: middle;
  }

  #watis .box p .click {
    display: inline-block;
    margin: 16px 0;
    font-size: 14px;
    font-weight: 500;
  }

  .pro-ppl {
    height: 5vh;
    border-radius: 30px 0 0 0;
    background-color: #fccb93;
  }

  .safe-place {
    height: 5vh;
    border-radius: 0 30px 0 0;
  }

  .info-cont {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
  }

  .b-b {
    border-bottom: 4.28px solid #ff9d2c;
  }

  .col-lg-3 {
    max-width: 25%;
    flex: 0 0 22%;
  }

  .info-ppl-wrap figure {
    /* border-radius: 50%; */
    width: 120px;
    height: 120px;
    margin: 20px auto;
  }

  .info-ppl-wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .ppl-info-text-wrap p:nth-child(1) {
    font-size: 20px;
  }

  .ppl-info-text-wrap hr {
    width: 75%;
    height: 0.5px;
    margin-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }

  /* Petliday是什麼的部分末 */
  /* Petliday做了什麼的部分始 */
  #markable {
    padding-bottom: 5vh;
  }

  #markable .svg-row svg {
    fill: #49322d;
    width: 23px;
    height: 19px;
  }

  .icon-row {
    padding: 0 15%;
  }

  .num-count p {
    font-size: 24px;
    font-weight: 700;
  }

  /* Petliday做了什麼的部分末 */
}

/* RWD超級明顯的吧RWDRWDRWDRWDRWDRWDRWDRWD*/
/* RWD超級明顯的吧RWDRWDRWDRWDRWDRWDRWDRWD*/
/* RWD超級明顯的吧RWDRWDRWDRWDRWDRWDRWDRWD*/
/* RWD超級明顯的吧RWDRWDRWDRWDRWDRWDRWDRWD*/
/* RWD超級明顯的吧RWDRWDRWDRWDRWDRWDRWDRWD*/
/* RWD超級明顯的吧RWDRWDRWDRWDRWDRWDRWDRWD*/
/* RWD超級明顯的吧RWDRWDRWDRWDRWDRWDRWDRWD*/
/* RWD超級明顯的吧RWDRWDRWDRWDRWDRWDRWDRWD*/

@media (max-width: 450px) {
  .timeline-d,
  .info-ppl-wrap:nth-of-type(2),
  .info-ppl-wrap:nth-of-type(3),
  .info-ppl-wrap:nth-of-type(4) {
    display: none;
  }

  .footprint .row {
    margin: auto 0px auto 15px;
  }

  /* 照片的部分始 */
  #hero-polaroid {
    background-color: #f2eee8;
    padding-bottom: 5vh;
  }

  .polaroid-base {
    width: 70vw;
    height: 45vh;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    top: 5vh;
    left: calc(50% - 35vw);
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
  }

  .polaroid-figure {
    margin: 10% auto;
    width: 60vw;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px 0px inset;
    background: url("../index/img/banner-img1.jpg") no-repeat;
    background-size: cover;
  }

  .signature {
    width: 100px;
    bottom: 0px;
    right: 20px;
  }

  .pol-wrap {
    width: 70vw;
  }

  #hero-polaroid .row {
    height: 65vh;
  }

  div.box1 {
    /* width: 70vw; */
    height: 45vh;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    transform: rotate(-5deg);
    top: 16vh;
    left: 11vw;
  }
  div.box2 {
    /* width: 70vw; */
    height: 45vh;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    transform: rotate(-6deg);
    top: 14vh;
    left: 18vw;
  }

  div.box3 {
    /* width: 70vw; */
    height: 45vh;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    transform: rotate(4deg);
    top: 13vh;
    left: 14vw;
  }
  /* 照片的部分末 */

  /* 關於毛日的部分始 */
  #text-wrap {
    /* background-color: #f2eee8; */
    padding-bottom: 5vh;
  }

  #text-wrap svg {
    fill: #49322d;
    width: 18px;
    height: 15px;
  }

  .t-xxl {
    font-size: 16px;
    font-weight: 500;
  }

  #text-wrap p {
    font-size: 12px;
    margin: 10px 20px;
  }
  /* 關於毛日的部分末 */
  /* 毛日里程碑的部分始 */
  #milestone {
    background-color: #f2eee8;
    padding-bottom: 5vh;
  }

  #milestone svg {
    fill: #49322d;
    width: 23px;
    height: 19px;
  }

  #milestone .row {
    overflow: scroll;
    padding: 0;
  }

  .timeline {
    margin-top: 3vh;
  }

  .timeline figure {
    padding: 0 0 0 15px;
    margin-right: 15px;
  }

  .timeline img {
    height: 80%;
    object-fit: contain;
  }

  .detail-wrap p {
    font-size: 12px;
  }

  .detail-wrap > span > p {
    position: relative;
    padding: 0 1% 0 0;
    display: inline-block;
    margin: 0;
    z-index: 1;
  }

  .detail-wrap > span > p::before {
    content: "";
    display: block;
    background-color: #ffd096;
    width: 95%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -1;
    margin-left: 5px;
  }

  .detail-wrap:nth-of-type(1) {
    top: -15px;
    left: 50px;
  }

  .detail-wrap:nth-of-type(2) {
    top: -50px;
    left: 300px;
  }

  .detail-wrap:nth-of-type(3) {
    bottom: 25px;
    left: 200px;
  }

  .detail-wrap:nth-of-type(3) {
    bottom: 25px;
    left: 200px;
  }

  .detail-wrap:nth-of-type(4) {
    bottom: 150px;
    left: 600px;
  }

  .detail-wrap:nth-of-type(5) {
    top: 50px;
    right: 0px;
  }

  /* 毛日里程碑的部分末 */

  /* Petliday是什麼的部分始 */
  #watis {
    /* background-color: #f2eee8; */
    padding-bottom: 5vh;
  }

  #watis svg {
    fill: #49322d;
    width: 18px;
    height: 15px;
  }

  .wat-info {
    margin-top: 3vh;
  }

  .pro-ppl,
  .safe-place {
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
    color: rgba(51, 51, 51, 0.5);
    vertical-align: middle;
  }

  #watis .box p {
    display: inline-block;
    margin: 10px auto;
    font-size: 14px;
    font-weight: 400;
  }
  /* --------------------------------------------------- */

  #watis .box .click {
    height: 5vh;
    box-shadow: 0px -1px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #fccb93;
    color: rgba(51, 51, 51, 0.5);
    vertical-align: middle;
  }

  .container .row {
    margin: 0;
  }

  .pro-ppl {
    height: 5vh;
    border-radius: 30px 0 0 0;
    background-color: #fccb93;
  }

  .safe-place {
    height: 5vh;
    border-radius: 0 30px 0 0;
  }

  .col-xl-2 {
    width: 50%;
  }

  .info-cont {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4);
    z-index: -2;
  }

  .info-cont span {
    left: 115px;
  }

  .b-b {
    border-bottom: 4.28px solid #ff9d2c;
  }

  .info-ppl-wrap {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }

  .info-ppl-wrap figure {
    width: 90px;
    height: 90px;
    margin: auto;
  }

  .info-ppl-wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .ppl-info-text-wrap {
    text-align: center;
  }

  .ppl-info-text-wrap p:nth-child(1) {
    font-size: 20px;
  }

  .ppl-info-text-wrap hr {
    width: 75%;
    height: 0.5px;
    margin-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }

  /* Petliday是什麼的部分末 */
  /* Petliday做了什麼的部分始 */
  #markable .svg-row svg {
    fill: #49322d;
    width: 18px;
    height: 15px;
  }

  .icon-row {
    padding: 5%;
    display: flex;
    flex-direction: column;
  }

  .obj-wrap {
    display: flex;
    justify-content: space-around;
  }

  .num-count p {
    font-size: 24px;
    font-weight: 700;
  }

  /* Petliday做了什麼的部分末 */

  .footer-box {
    margin-top: 20px;
  }
}
