* {
  /* outline: auto; */

   /* 圖片不能拖曳 */
  -webkit-user-drag: none;
}

.hero img{
  margin-top: 60px;
}

@media (max-width: 1199.98px){
  .computer-imgs{
      display: none;
  }
}


/* @media (max-width: 375px) { 
  .section1{
    background-image: url("./img/about_m_02.png");
  }
} */