html, body{
    transition: .5s;
    scroll-behavior:smooth;
}
main{
    background-color: #f2eee8;
}
.top-green{
    background-color: #00907c;
    padding-top: 50px;
    height: 1900px;
}
.caro{
    position: relative;
    z-index: 1;
    width: 520px;
    height: 600px;
    margin: 50px auto 0;
}
.caro img{
    width: 100%;
    /* clip-path: path('M263,0H164.28C73.7,0,0,73.7,0,164.28v235c0,90.59,73.7,164.29,164.28,164.29H263c141.72,0,257-126.4,257-281.76S404.69,0,263,0Z'); */
    clip-path: url(#d-clip-web);
    transition: .5s;
}
.caro svg{
    pointer-events:none;
}
/* 主要資訊區塊--------------------------- */
.top-wrap{
width: 1140px;
border-radius: 3px 30px 3px 3px;
background-color: #fff;
}
/* 分享 share */
.share-frame{
    width: 300px;
    height: 230px;
    border-radius: 3px 30px 3px 3px;
    top: -170px;
    right: 0;
    overflow: hidden;
    pointer-events: none;
}
.share-row{
    width: 300px;
    height: 230px;
    padding: 30px 30px;
    background-color: #fff;
    top: 200px;
    right: 0;
    border-radius: 3px 30px 3px 3px;
    transition: .5s;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
}
.cancel-btn{
    width: 12px;
}
.cancel-btn img{ 
    width: 100%;
    object-fit: contain;
}

.fb,.line-icon,.email,.ig{
    width: 40px;
    height: 40px;
}
.share-pic{
    height: 75px;
}
.share-row img{
    width: 100%;
    object-fit: contain;
}
.share-row input{
    padding-left: 10px;
    padding-right: 40px;
    width: 100%;
    height: 40px;
}
.copy-btn{
    width: 20px;
    height: 20px;
    bottom: 58px;
    right: 40px;
}


/* 麵包屑 */
.info{
    height: 400px;
    margin: -100px auto 0;
    padding: 60px 100px;
}
.bread-row a{
   color: #555;
   margin: 0 3px; 
}
.title-left{
    font-size: 28px;
}
.title-left p{
    margin:0 ;
    font-weight: 500;
}
.title-right p{
    margin:0 ;
}

.heart-top{
    margin: 10px;
    width: 30px;
    cursor: pointer;
}
.heart-top img{
    width: 100%;
    object-fit: cover;
}
.share{
    margin: 10px;
    width: 30px;
    cursor: pointer;
}
.share img{
    width: 100%;
    object-fit: cover;
}
/* 評價row */
.rate{
    height: 15px;
    margin: 0 10px;
}
.rate-row{
    margin-top: 15px;
}
.rate-row a{
    cursor: pointer;
}
.star{
    width: 20px;
    height: 20px;
}
.star img{
    width: 100%;
    object-fit: contain;
}
.tag p{
    width: 70px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid #00907c;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    color: #00907c;
    margin: 0 5px;
}
/* 簡介row */
.intro{
    height: 100px;
    margin-top: 30px;
    font-size: 16px;
}
.intro li{
    line-height: 35px;
    letter-spacing: 1px;
}
/* 按鈕鈕 */
.select-btn{
    width: 280px;
    height: 60px;
    background-color: #ffa12c;
    border-radius: 3px;
    color:#fff;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
}
.select-btn:hover{
    color: rgba(255, 255, 255, 0.9);
    background-color: #fe8b11;
    box-shadow: inset 5px 5px 10px rgb(255, 133, 2), inset -5px -5px 10px #ff9f39;
    text-decoration: none;
}
/* 選擇方案區塊--------------------------- */
/* calendar */

#data td{
border-radius: 3px;
cursor: pointer;
}

.input-group-prepend{
    background-color: #eee;
}
.select{
    height: 765px;
    margin: 60px auto 0;
}
.select-left{
    margin: 48px 48px 48px 0;
    padding: 0;
}
.select-right{
    margin: 48px 0 48px 48px;
    padding: 0;
}
.select-date, .select-amount{
    padding: 0;
    margin-bottom: 48px;
}
.month{
    margin: 24px 0;
}
.reset{
    width: 15px;
    height: 15px;
}
.reset img{
    width: 100%;
    object-fit: cover;
}
.top{
    padding:80px 80px 10px;
}
.top-right{
    cursor: pointer;
}
.topic-line-gray{
    width: 160px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #ccc;
    margin-top: -10px;
}
.select-wrap{
    display: flex;
    padding: 0 80px 50px;
    /* margin: 0 -15px; */
}
.select-wrap p{
    margin: 0;
}
.select-brother{
    display: flex;
}
.select-brother label{
    margin: 0;
}
.cal-icon span{
    display: inline-block;
}
.green-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00907c;
}
.red-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e03d2d;
}
.arrow{
    width: 10px;
    cursor: pointer;
}
.arrow img{
    width: 100%;
    object-fit: cover;
}
.calendar td, .calendar th{
    line-height: 24px;
    text-align: center;
    padding: 10px;
}
.fw-5{
    font-weight: 500;
}
.cal-title{
    font-size: 16px;
    letter-spacing: 3px;
}
/* 選擇數量區塊 */

/* ㄩㄐ選擇數量區 start*********************************** */
.change-box{
    display: flex;
}
.man-box{
    padding:0 16px 0 0;
}

.pet-box{
    padding:0 0 0 16px;
}
.change-btn {
    width: 50;
    height: 50px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .add-man {
    width: 30px;
    height: 30px;
    fill: #555;
    background-color: #ccc;
    border-radius: 3px;
    padding: 8px;
  }
  
  .sub-man {
    width: 30px;
    height: 30px;
    fill: #555;
    background-color: #ccc;
    border-radius: 3px;
    padding: 8px;
  }
  .add-pet {
    width: 30px;
    height: 30px;
    fill: #555;
    background-color: #ccc;
    border-radius: 3px;
    padding: 8px;
  }
  
  .sub-pet {
    width: 30px;
    height: 30px;
    fill: #555;
    background-color: #ccc;
    border-radius: 3px;
    padding: 8px;
  }
  .able-icon {
    background-color: #ccc;
  }
  .unable-icon {
    background-color: #eee;
  }
  
  .change-quantity {
    width: 60px;
    height: 44px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 44px;
    border-radius: 3px;
    font-size: 14px;
  }
  
/* ㄩㄐ選擇數量區 end*********************************** */

.btn-add{
    width: 35px;
    height: 35px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
/* .input-group > .form-control{
    width: 45px;
    height: 45px;
    margin: 0 10px;
    text-align: center;
    font-size: 20px;
} */
.select-man label{
    width: 60px;
}
.select-pet label{
    width: 60px;
}
.select-middle{
    height: 170px;
}
.btn-twin{
 margin-top: 48px;
}
.btn-twin .btn{
    width: 200px;
    height: 44px;
    line-height: 34px;
}
/* 商品介紹區域 */

.bg-dog{
    /* padding: 300px; */
    height: 5300px;
    background: linear-gradient( rgba(242,238,232,.5), rgba(242,238,232,.5)),url(./img/pg-dog.svg) 0 150px no-repeat;
    background-size: contain;
    overflow: hidden;
    
}
.cate-fix{
    width: 1140px;
    height: 80px;
    box-shadow: 1px 2px 20px rgba(0,0,0,.1);
    border-radius: 0 0 80px 80px;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
}
.btn-cate{
    flex-grow: 1;
    background-color: #fff;
    border: none;
    border-right: 1px solid #ccc;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn-cate:hover{
    cursor: pointer;
    background-color: #ffd096;
}
/* .btn-cate-left{
    border-radius: 0 0 0 80px;
} */
/* .btn-cate-right{
    border-radius: 0 0 80px;
} */
.day123-fix{
    top: 0px;
    position: relative;
}
.day123{
    position: absolute;
    top: 40px;
    right: 200px;
    z-index: 1;
}
.day123 a{
    width: 150px;
    height: 50px;
    display: block;
    border: 2px solid #ffa12c;
    background-color: #f2eee8;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: #3c2e26;
    margin: 20px;
    transform: rotate(-10deg);
}
.day123 a:hover{
    cursor: pointer;
    background-color: #ffd096;
    text-decoration: none;
}
.day123 a:active{
    background-color: #fff;
    text-decoration: none;
}
.day1, .day2, .day3{
    cursor: pointer;
}

.line{
    height: 120px;
    border-left: 2px solid #ffa12c;
    position: absolute;
    top: 100px;
    right: 295px;
}
.end-dot{
    display: none;
}
/* 共用標題 */

.topic p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 150px;
    text-align: center;
}
.topic-line{
    height: 4px;
    width: 150px;
    border-radius: 2px;
    background-color: #ffa12c;
    margin-top: -10px;
}
/* 行程介紹 */
.main-c{
    margin-top: 48px;
}
.day-text{
    font-size: 24px;
}
.day-text-all{
margin-top: 48px;
}
.hide-mb, .hide-rate-mb{
    display: none;
    position: absolute;
}
.item-intro p{
    font-size: 14px;
    margin-bottom: 5px;
}
.pic520{
    width: 520px;
    overflow: hidden;
    margin-bottom: 30px;
}
.pic520 img{
    width: 100%;
    object-fit: cover;
}
.pic420{
    width: 420px;
    overflow: hidden;
    margin-bottom: 30px;
}
.pic420 img{
    width: 100%;
    object-fit: cover;
}
.pic580{
    width: 580px;
    overflow: hidden;
    margin-bottom: 30px;
}
.pic580 img{
    width: 100%;
    object-fit: cover;
}

.item1{
    margin: 80px 0 0 150px;
}
.item2{
margin: -60px 0 0 700px;
}
.item3{
    margin: -150px 0 0;
}
.item4{
    margin: 80px 0 0 60px;
}
.item5{
    margin: -250px 0 0 550px;
}
.item6{
    margin: -80px 0 0;
}
.item7{
    margin: -80px 0 0 500px;
}
.item8{
    margin: 80px 0 0;
}
.item9{
    margin: -250px 0 0 700px;
}
.item10{
    margin: -50px 0 0 80px;
}

/* white bg */
.white-bg{
    height: 3100px;
    /* background-color: rgba(255,255,255,.5); */
    background: url(./img/white-bg.svg) 0 200px no-repeat, linear-gradient( rgba(255,255,255,.5), rgba(255,255,255,.5));
    background-size: contain;
}
.white-bg .container{
    padding-top: 100px;
}
.main-c{
    padding-top: 24px;
    overflow: hidden;
}
.term{
    background-color: #fff;
    height: 350px;
    border-radius: 3px 30px 3px 3px;
    margin-bottom: 60px;
    box-shadow: 1px 2px 20px #eee;
    padding: 50px 80px;
    transition: .5s;
    cursor: pointer;
}
.term-text{
    font-size: 14px;
    line-height: 30px;
    transition: .5s;
}
.term a{
    width: 25px;
    display: inline-block;
}
.term img{
    width: 100%;
    object-fit: contain;
}
.hidden{
    /* display: none; */
    /* height: 0; */
    opacity: 0;
    transition: .5s;
    pointer-events: none;
}
/* 評論區 */
.topic-wrap{
    margin-bottom: 48px;
}
.rate-container{
    overflow: auto;
}
.rate-number{
    margin-right: 10px;
}
.rate-scroll .row{
    width: 3000px;
}
.rate-scroll{
    animation: rooolling 30s linear;
}
@keyframes rooolling{
from{
    left: 0;
}
to{
    left: -1900px;
}
}
.rate-scroll:hover{
    animation-play-state: paused;
}

.rate-card{
    width: 500px;
    height: 260px;
    background-color: rgba(255,255,255,.8);
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 20px #eee;
    display: flex;
}
.rate-name{
    margin-top: 16px;
}
.rate-l{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.rate-l img{
    width: 100%;
    object-fit: cover;
}
.star img{
    margin-right: 3px;
  }

  /* 卡片位置個別 */
  .c1{
      margin: 30px 0 0 200px;
  }
  .c2{
      margin: 150px 0 0 100px;
  }
  .c3{
      margin: 0 0 0 -80px;
  }
  .c4{
      margin: 30px 0 0 200px;
  }
  .c5{
      margin: -150px 0 0 0;
  }
.c6{
    margin: 50px 0 0 150px;
}
.c7{
    margin: -80px 0 0 400px;
}
.c8{
    margin: -200px 0 0 300px;
}
.c9{
    margin: -100px 0 0 100px;
}
.c10{
    margin: -150px 0 0 500px;
}
.c11{
    margin: -160px 0 0 250px;
}
.c12{
    margin: -80px 0 0 100px;
}
/* scrollbar show start */
::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 12px;
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0,144,124,.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
/* scrollbar show end */
/* recommand區域 */
/* 3個一排card css start------------------------------------- */
.cls-3 {
    fill: #00907c;
}

/* lighr-gray */
.cls-4 {
    fill: #ccc;
}

/* red */
.cls-5 {
    fill: #e03d2d;
}

.card {
    width: 296px;
    height: 295px;
    border: none;
    box-shadow: 1px 2px 8px rgba(200, 200, 200, .5);
    position: relative;
    transition: .5s;
}

.card .p {
    margin-bottom: 6px;
}

.heart-circle {
    width: 35px;
    height: 35px;
    background-color: #fff;
    opacity: .8;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    padding: 6px 8.5px;
    cursor: pointer;
}
.heart{
    width: 18px;
}
.heart img{
    width: 100%;
    object-fit: contain;
}
.card-pic {
    height: 175px;
    border-radius: 3px 3px 50px 3px;
    overflow: hidden;
    transition: .5s;
}

.card-pic img {
    width: 100%;
    object-fit: cover;
}

.card-text h6 {
    line-height: 23px;
}

.card-info {
    opacity: 0;
    height: 0;
}

.rate-all {
    height: 12px;
    letter-spacing: 0.5px;
}
/* footer-box */

.social .form-control{
font-size: 12px;
}

.footer-box{
    margin-top: 0;
}


/* 3個一排card css end------------------------------------- */
/* 425 RWD start */
@media(max-width: 425px) {
    .t-l{
        font-size: 14px;
    }
    .white-bg{
        height: 2400px;
    }
    .white-bg .row{
        margin: 0;
    }
    /* caro D */
    .caro{
        width: 208px;
        height: 300px;
        margin: 50px auto 0;
        pointer-events: none;
    }
    /* 兩個白色卡區 */
    .top-green{
        height: 2000px;
    }
    .top-wrap{
    width: 100%;
    }
    .info{
        height: 530px;
        margin: -100px auto 0;
        padding: 40px 20px;
    }
    .bread-row, .title-row{
        margin: 0;
    }
    .title-left{
        font-size: 18px;
        margin-top: 10px;
    }
    .title-left p:last-child{
        padding-right: 40px;
    }
    .title-right{
        margin-top: 20px;
    }
    .heart{
        /* margin: 10px 10px 10px 50px; */
        /* width: 35px; */
    }
    .share{
        margin: 10px;
        width: 30px;
    }
    .rate-row{
        margin-left: 0;
    }
    .rate{
        height: 19px;
    }
    .rate-all{
        height: 16.5px;
    }
    .rate-scroll{
        animation: none;
    }
    .intro{
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        font-size: 14px;
    }
    .intro ul{
        padding-right: 40px;
    }
    .intro li{
        line-height: 25px;
    }
    .select-btn{
        margin: 0 auto;
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
    .top{
        padding: 20px 20px 10px;
    }
    .top-right{
        font-size: 12px;
        text-decoration: underline;  
    }
    .reset{
        width: 10px;
        height: 10px;
    }
    /* select section 425*/
    /* ㄩㄐ 選擇數量425 start */
    .change-box{
        display: block;
    }
    .man-box,.pet-box{
        padding:20px
    }
    /* ㄩㄐ 選擇數量425 end*/
    .select{
         height: 1030px;
        transform: scale(1.09);
        margin: 60px auto 0;
        border-radius: 3px;
    }
    .select-wrap{
        display: inline-block;
        padding: 0;
    }
    .select-left, .select-right{
        margin: 0;
        padding: 0;
    }
    .select-brother{
        display: inline-block;
        padding: 0 20px 0;
    }
    .select-date{
        padding: 0 20px;
        font-size: 12px;
        margin-bottom: 0px;
    }
    .select-amount{
    padding: 20px;
    font-size: 12px;
    margin-bottom: 0px;
    }
    .calendar .t-m{
        font-size: 12px;
    }
    .month{
        margin: 20px 0;
        padding: 0 20px;
        font-size: 14px;
    }
    .calendar td,.calendar th {
        /* line-height: 24px; */
        text-align: center;
        padding: 10px 0px;
    }
    .tag{
        margin-top: 10px;
    }
    .tag p{
        line-height: 25px;
    }
    /* 選擇數量區塊 */
    .select-man{
        margin-bottom: 30px;
    }
    .select-brother label{
        display: inline-block;
        margin-right: 30px;
    }
    .select-middle{
        padding: 10px 25px 0 0;
        font-size: 12px;
        height: 80px;
    }
    .btn-twin{
        margin-top: 10px;
        padding: 0 20px;
    }
    .btn{
        margin: 14px 8px;
    }
    /* 行程介紹目錄 */
    .btn-cate{
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 2px;
    }
    .cate-fix{
        left: 0;
        width: 375px;
        border-radius: 0 0 40px 40px;
    }
    /* day123 */
    .day123 a{
        font-size: 12px;
        width: 50px;
        transform:none;
        line-height: 48px;
    }
    .day123{
        top: 95px;
        right: 290px;
    }
    .day123 .day1{
        margin:0 20px 400px 20px;
    }
    .day123 .day2{
        margin: 0 20px 390px 20px;
    }
    /* 行程介紹 */
    .bg-dog{
        height: 1520px;
    }
    .main-c{
        margin-top: 10px;
        padding: 0 40px 0 75px;
    }
    .day-text-all{
        margin-top: 38px;
        font-size: 12px;
    }
    .day-text{
        font-size: 16px;
    }
    .topic-intro{
        margin-left: -65px;
        margin-top: 0px;
    }
    .line{
        top: 140px;
        right: 334px;
        height: 1255px;
    }
    .end-dot{
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid #ffa12c;
        background-color: #f2eee8;
        position: relative;
        top: 1385px;
        left: 17px;
    }
    .hide-mb{
        text-decoration: underline;
        color: #ffa12c;
        display: inline-block;
        position: relative;
        left: 180px;
        margin-bottom: 10px;
    }
    /* photo correction */
    .pic520, .pic420, .pic580{
        width: 270px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    /* item1-10 行程頁介紹 */
    .item1, .item4, .item8{
        margin: 20px 0 0 0;
    }
    .item2, .item3, .item5, .item6, .item7, .item9, .item10{
        display: none;
    }
    .item-intro{
        display: none;
    }
    /* term 區 */
    .white-bg .container{
        padding-top: 30px;
    }
    .term{
        height: 300px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .term .row{
        margin: 0;
    }
    .term a{
        margin:-5px 15px 0 0;
    }
    .term-text ul{
        padding: 0 20px;
    }
    .term-text li{
        font-size: 12px;
        line-height: 20px;
    }
    .white-bg .term:last-child{
        height: 220px;
    }
/* 評價區 */
    .topic-wrap{
        margin-bottom: 20px;
    }
    .rate-card{
        width: 345px;
        display: none;
        position: absolute;
        padding: 10px 20px;
        margin: 0 auto;
    }
    .c1{
        position: relative;
        display: inline-block;

    }
    .rate-scroll .row{
        margin: 0;
        width: 100%;
    }
    .t-m{
        font-size: 14px;
    }
    .rate-name{
        margin: 10px 0;
    }
    .star{
        width: 15px;
        height: 15px;
        margin-bottom: 12px;
    }
    .t-s{
        font-size: 12px;
    }
    .hide-rate-mb{
        text-decoration: underline;
        color: #ffa12c;
        display: inline-block;
        position: relative;
        left: 250px;
        bottom: 40px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .rate-container{
        margin-top: -25px;
    }
    /* 3個一排card RWD start--------------------------------- */
    .card {
        width: 266px;
        height: 280px;
        border: none;
        box-shadow: 1px 2px 8px rgba(200, 200, 200, .5);
        position: relative;
        margin: 20px auto !important;
    }

    .card-pic {
        width: 100%;
        height: 155px;
        border-radius: 3px 3px 40px 3px;
        overflow: hidden;
    }
    /* 425 footer */
    .social .btn-1{
        margin: 0;
    }
}

