body{
    background-color: #f2eee8;
}

.cls-6{fill:#fff;}
.title p{
    color: #3c2e26;
    letter-spacing: 2px;
}
.top-pic-con{
    overflow: hidden;
}
.top-pic{
    width: 110%;
    margin-top: 57px;
}
.top-pic img{
    width: 100%;
    object-fit: cover;
}

/* 麵包屑 */
.bread-row{
    padding-bottom: 48px;
}
.bread-row a{
    color: #555;
    margin: 0 3px; 
 }
/* .al{ 
    margin-left: -20px; 
 } */
.hot-card{
    width: 60%;
    height: 340px;
    background-color: #fff;
    box-shadow: 1px 2px 20px #ddd;
    overflow: hidden;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}
.hot-pic{
    width: 800px;
    overflow: hidden;
}
.hot-pic img{
    width: 100%;
    object-fit: cover;
}
.hot-right{
    margin-left: -130px;
}
.hot-text{
    top: 10px;
    left: 50px;
    padding: 40px 60px;
}
.tag{
    margin-bottom: 15px;
}
.tag p{
    width: 70px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid #00907c;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    color: #00907c;
    margin: 0 5px;
}
.hot-title{
    letter-spacing: 2px;
}
.star{
    width: 20px;
    height: 20px;
}
.star img{
    width: 100%;
    object-fit: cover;
}
.dots ul{
    margin: 0 24px 0 0;
}
.dots li{
    width: 20px;
    height: 20px;
    background-color: #ccc;
    list-style: none;
    border-radius: 50%;
    margin: 40px 20px;
}
.trip-select a{
    width: 156px;
    height: 44px;
    border-radius: 22px;
    border: 1px solid #00907c;
    color: #00907c;
    text-align: center;
    line-height: 44px;
    margin: 8px;
    font-weight: 500;
    letter-spacing: 3px;
}
.time, .area{
    display: flex;
}
.time p, .area p{
    margin-bottom: 0;
}
.form-control{
    background-color: #f2eee8;
}
.order label{
    width: 80px;
    margin: 0;
}
.order select{
    width: 150px;
}
/* 共用標題 */
.topic p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 150px;
    text-align: center;
}
.topic-line{
    height: 4px;
    width: 150px;
    border-radius: 2px;
    background-color: #ffa12c;
    margin-top: -10px;
}
/* prod card 公版三個一排 */

    .cls-3 {
        fill: #00907c;
    }

    /* lighr-gray */
    .cls-4 {
        fill: #ccc;
    }

    /* red */
    .cls-5 {
        fill: #e03d2d;
    }

    .card {
        width: 296px;
        height: 295px;
        border: none;
        box-shadow: 1px 2px 8px rgba(200, 200, 200, .5);
        position: relative;
        transition: .5s;
    }

    .card .p {
        margin-bottom: 6px;
    }

    .heart {
        width: 35px;
        height: 35px;
        background-color: #fff;
        opacity: .8;
        position: absolute;
        top: 15px;
        right: 15px;
        border-radius: 50%;
        padding: 6px 8.5px;
    }

    .card-pic {
        width: 100%;
        height: 175px;
        border-radius: 3px 3px 50px 3px;
        overflow: hidden;
        transition: .5s;
    }

    /* .card-pic:hover {
        height: 125px;
        transform: translateY(-50px);
    } */
    .card-pic img {
        width: 100%;
        object-fit: cover;
    }

    .card-text h6 {
        line-height: 23px;
    }

    .card-info {
        opacity: 0;
        height: 0;
    }

    .rate-all {
        letter-spacing: 0.5px;
    }
    /* 分頁按鈕 */
    .page-list{
        list-style: none;
        margin: 20px auto;
        /* margin: 50px 470px; */
    }
    .pages{
        width: 50px;
        height: 50px;
        background-color: #f2eee8;
        font-size: 16px;
        text-align: center;
        line-height: 50px;
        margin: 5px;
        border-radius: 3px;
        border: 1px solid #ffa12c;
    }
    .p-arrow{
        line-height: 48px;
    }
    .pages a:hover{
        color: #ffb14f;
        text-decoration: none;
    }
    .pages-link{
        color: #3c2e26;
    }
    .arrow-page{
        width: 8px;
        margin: 0 auto;
    }
    .arrow-page img{
        width: 100%;
        object-fit: contain;
    }

    /* RWD 425 start */
    @media(max-width: 425px) {
    /* card RWD */
        .card {
            width: 266px;
            height: 300px;
            border: none;
            box-shadow: 1px 2px 8px rgba(200, 200, 200, .5);
            position: relative;
            margin: 20px auto !important;
        }

        .card-pic {
            width: 100%;
            height: 175px;
            border-radius: 3px 3px 40px 3px;
            overflow: hidden;
        }
        .arrow {
            opacity: 0;
            position: absolute;
        }
    /* card RWD end*/
    /* 首圖插畫 */
        .top-pic{
            /* width: 130%; */
            margin-top: 73px;
            margin-left: 0px;
            transform: scale(1.2);
        }
        .bread-row{
            margin: 10px 0 0;
            padding-bottom: 30px;
        }
        .hot{
            margin-left: 0;
            margin-top: -20px;
        }
        .hot-card{
            width: 100%;
            height: 360px;
            display: inline-block;
            padding: 20px;
        }
        .hot-pic{
            width: 300px;
            margin: 100px auto 0;
        
        }
        .hot-right{
            margin-left: 0;
        }
        .hot-right svg{
            display: none;
        }
        .hot-text{
            padding: 0;
            top: 0;
            left: 0;
        }
         .hot-title{
            /* width: 100%; */
            font-size: 18px;
            margin: 0 0 15px 0;
            letter-spacing: 2px;
        }
        .tag{
            margin: -245px 0 10px 0;
        }
        .hot-info{
            margin-top: 160px;
            font-size: 12px;
        }
        .hot-buttom{
        margin-top: -10px;
        width: 100%;
        padding: 0 5px;
        }
        .dots{
            margin-top: -15px;
        }
        .dots ul{
            margin: 0 auto;
            padding: 0;
        }
        /* hot card end */
        .time, .area{
            display: inline-block;
        }
        .time p, .area p{
            margin-bottom: 5px;
        }
        .trip-select a{
            width: 146px;
            display: inline-block;
        }
        .area{
            margin-top: 10px;
        }
        .order{
            margin-top: 20px;
        }
        .p-arrow{
            line-height: 45px;
        }
    }
