/* * {
    outline: 1px solid red;
  } */

/* .login{
    border-top:15px solid #FFC072;
    border-radius: 3px;
  } */

button:focus{
    outline:1px solid transparent;
}

.login .close span {
    font-size: 2.5rem;
    padding-right: 20px;
}


.login-form{
    border-top:15px solid #FFC072;
    border-radius: 3px;
    padding-top: 50px;
    width: 500px;
    height: 550px;
    background-color: rgb(253, 251, 251);
}

@media (max-width: 415px) { 
    .login-form{
        width: 100%;
    }
 }

/* 登入頁和註冊頁form */
.login-form h2{
    color: #333;
    text-align: center;
}

.login-form-two{
    border-top:15px solid #FFC072;
    border-radius: 3px;
    padding-top: 50px;
    width: 500px;
    height: 400px;
    background-color: rgb(253, 251, 251);
}

@media (max-width: 415px) { 
    .login-form-two{
        width: 100%;
    }
 }

/* 忘記密碼頁form */
.login-form-two h2{
    color: #333;
    text-align: center;
}


/* 社群icon */
.login-facebook{
    width: 44px;
    height: 44px;
}

.login-line{
    width: 44px;
    height: 44px;
}

.login-google{
    width: 44px;
    height: 44px;
    padding: 2px;
}

.login-apple {
    width: 44px;
    height: 44px;
}

/* 或 */
.login-border{
    border-bottom: 1px solid #D1D1D1;
    position: relative;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 350px;
    text-align: center;
    margin-left: 75px;
}

.text-or{
    color: #D1D1D1;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    background-color: rgb(253, 251, 251);
    padding: 0 10px 0 10px;
}

@media (max-width: 415px) { 
    .login-border{
        width: 320px;
        margin-left: 20px;
    }
 }

/* 登入from */
.form-control{
    width: 350px;
    height: 40px;
    border: 1px solid #D1D1D1;
    position: relative;
}

/* .form-control:focus{
    outline:1px solid transparent;
} */

.icon-msg{
    position: absolute;
    left: 85px;
    bottom: 223px;
    height: 12px;
    margin-right: 50px;
}

.icon-psd{
    position: absolute;
    left: 85px;
    bottom: 162px;
    height: 18px;
    margin-right: 50px;
}

.input-icon .form-control{
    padding-left: 35px;
}

@media (max-width: 415px) { 
    .icon-msg{
        left: 40px;
    }
    .icon-psd{
        left: 40px;
    }
 }

/* .login-group label{
    margin-top: 20px;
    margin-left: 75px;
} */

.login-group input{
    margin-top: 20px;
    margin-left: 75px;
    font-size: 0.5rem;
}

@media (max-width: 415px) { 
    .login-group input{
        width: 300px;
        margin-left: 30px;
    }
 }

.login-group-2{
    text-align: center;
}

.login-btn.btn{
    width: 350px;
    height: 40px;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 415px) { 
    .login-btn.btn{
        width: 300px;
        margin-left: 22px;
    }
 }

.login-other{
    color: #555;
    text-align: center;
}

.login-other a{
    color: #555;
    cursor: pointer;
    font-size: 16px;
}

.login-other span{
    color: #555;
}

.auto-input button{
    height: 35px;
    width: 60px;
    background-color: rgb(253, 251, 251);
    border: 1px solid transparent;
    /* 最終改成 1px solid transparent */
    position: relative;
}

.auto-input .input-error{
    position: absolute;
    left: 0;
}

.auto-input .input-correct{
    position: absolute;
    right: 0;
}

/* scroll-top */
.scroll-top{
    display: block;
    font-size: 30px;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}

