/* * {
    outline: 1px solid red;
  } */

  .login{
      border-top:15px solid #FFC072;
      border-radius: 3px;
  }

/* .login-social{
    display: flex;
    justify-self: around;
} */

.login-form{
    padding-top: 50px;
    width: 500px;
    height: 600px;
    background-color: rgb(253, 251, 251);
}

.login-form h2{
    text-align: center;
}

.login-facebook{
    width: 44px;
    height: 44px;
}

.login-line{
    width: 44px;
    height: 44px;
}

.login-google{
    width: 44px;
    height: 44px;
    padding: 2px;
}

.login-apple {
    width: 44px;
    height: 44px;
}

.login-border{
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-bottom: 50px;
    margin-top: 25px;
}

.text-or{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    background-color: rgb(253, 251, 251);
    padding: 0 10px 0 10px;
}

.form-control{
    width: 350px;
    height: 40px;
}


/* .login-group label{
    margin-top: 20px;
    margin-left: 75px;
} */

.login-group input{
    margin-top: 20px;
    margin-left: 75px;
}

.login-group-2{
    text-align: center;
}

.btn{
    width: 350px;
    height: 40px;
    text-align: center;
    margin-top: 30px;
}